<div class="formMensaje">
    <h2>Centro de Mensajes</h2>
    <h3>Escribe tu mensaje</h3>
    <form onsubmit="return addMensaje(this)" id="mensaje" autocomplete="off">
        <div class="inputFormulario">
            <label for="nombreMensaje" class="chatTitle">Nombre</label>
            <input type="text" name="nombreMensaje" id="nombreMensaje" required>
        </div>
        <div class="inputFormulario">
            <label for="text" class="chatTitle">Ingrese su mensaje</label>
            <input type="text" name="text" id="text" placeholder="Mensaje" required>
        </div>
        <button class="subir">Enviar Mensaje</button>
    </form>
</div>