<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Muy Importante para el uso de Socket.io agregar este script -->
    <script src="https://unpkg.com/ejs@3.1.8/ejs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/styles/stylesIndex.css">
    <title>CursoBackEnd</title>
</head>
<body>
    <nav>
        <div class="bienvenida">
            <h1>Bienvenido/a <%=user.username%> </h1>
            <div class="img">
                <img src="<%=user.url%>" alt="foto de perfil">
            </div>
        </div>
        <a class="cerrarSesion" href="/jwt/logout">Cerrar Sesión</a>
    </nav>
    <div class="containerAdmin">

        <div class="mostrarProductos">
            <button><a href="/productos">Ver Lista de productos</a></button>
        </div>

        <div class="containerAdminProductos">

            <div class="adminProductos">
                <!-- Creamos el Form para crear un nuevo Producto -->
                <%- include('../partials/formNuevoPrducto.ejs') %>
                <!-- Mostramos lista de Productos -->
                <div class="productosTienda">
                    <h2>Lista de Productos en la tienda</h2>
                    <div id="listaProductosAdmin"></div>
                </div>
            </div>

        </div>
    
    
        <!-- CHAT GLOBAL -->
        <div class="chatGlobal">
            <!-- Traemos el formulario del chat Global -->
            <%- include('../partials/formChatGlobal.ejs') %>
            <!-- Mostramos los mensajes  -->
            <div id="mostarMensaje"></div>
        </div>

        <script src="/main.js"></script>

    </div>
    
</body>
</html>