<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/styles/stylesIndex.css">
    <title>CursoBackEnd</title>
</head>
<body>
    <nav>
        <div class="bienvenida">
            <h1>Bienvenido/a <%=user.username%> </h1>
            <div class="img">
                <img src="<%=user.url%>" alt="foto de perfil">
            </div>
        </div>
        <a class="cerrarSesion" href="/jwt/logout">Cerrar Sesión</a>
    </nav>

    <div class="mostrarProductos">
        <button><a href="/productos/ejs">Administrar Productos(solo Admin)</a></button>
    </div>


    <div class="containerCliente">
        <%- include('../partials/listaProductos.ejs') %>
        <button><a href="/carrito">Ver Carrito</a></button>
    </div>

    <script src="/carrito.js"></script>
</body>
</html>