<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <title>CursoBackEnd</title>
</head>
<body>
    <nav>
        <h1>Bienvenido/a <%=user.username%> </h1>
        <div class="img">
            <img src="<%=user.url%>" alt="foto de perfil">
        </div>
        <button><a href="/jwt/logout">Cerrar Sesión</a></button>
    </nav>
    <button><a href="/productos/ejs">Administrar Productos(solo Admin)</a></button>
    <%- include('../partials/listaProductos.ejs') %>
    <button><a href="/carrito">Ver Carrito</a></button>

    <script src="/carrito.js"></script>
</body>
</html>